.main_history{
    display: flex;
}

.exp_history{
    padding: 10px 0px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.history_table{
    overflow-y: scroll;
    position: relative;
    max-height: 471px !important;
}

.del_history > i{
    margin-right: -250px;
    font-size: 25px;
}

.del_history{
    transform: translate(231px, -6px);
    z-index: 5;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.open_button{
    border: none;
    background-color: darkblue;
    padding: 3px 12px;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 8%;
    position: relative;
    z-index: 0;
}

.empty > img{
    padding: 20px 0px;
    height: 300px;
    position: relative;
    z-index: 6;
}

.empty{
    text-align: center;
}

.empty > div{
    font-weight: 600;
    font-size: 35px;
}


.table {
    margin: 30px 0 48px 134px;
    width: 1200px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    }
    @media screen and (max-width: 580px) {
    .table {
        display: block;
    }
    }
    
    .row {
    text-align: center;
    display: table-row;
    background: #f6f6f6;
    }
    .row:nth-of-type(odd) {
    background: #e9e9e9;
    }
    .row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
    }
    .row.green {
        font-weight: 900;
        color: #ffffff;
        background: #27ae60;
        position: sticky;
        z-index: 1;
        top: 0;
    }
    .row.red {
        font-weight: 900;
        color: #ffffff;
        background: red;
    }
    .row.newBlue {
        font-weight: 900;
        color: #ffffff;
        background: #273eae;
    } 
    .row.black {
        font-weight: 900;
        color: #ffffff;
        background: black;
    }
    .row.niceblue{
        font-weight: 900;
        color: #ffffff;
        background: #0080ff;
    }
    @media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block;
    }
    .row.header {
        padding: 0;
        height: 6px;
    }
    .row.header .cell {
        display: none;
    }
    .row .cell {
        margin-bottom: 10px;
    }
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
    }
    
    .cell {
    vertical-align: middle;
    text-transform: capitalize;
    padding: 6px 12px;
    display: table-cell;
    }
    @media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
    }