.sideBar{
    height: 713px;
    background-color: rgb(27, 27, 27);
    width: 4.1%;

}

.element{
    padding: 20px 8px;
}

.elements{
    padding-top: 69px;
}

.element_button{
    color: aliceblue;
    background-color: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

span{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Ubuntu', 'sans-serif';
}
 
.selected {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-color: white;
    color: black;
  }

.logout_button {
    padding-left: 8px;
    padding-top: 19px;
}

